
.footer-conteiner{
    width: auto;
    background-color: rgb(0, 0, 0);
    color:white;
    min-height:80px;
    white-space: nowrap;
    font-style:sans-serif;
}
.footer-conteiner-div0{
    width: 100%;
    color:white;
    height:100%;
   /* display: flex;*/
    justify-content:start;
    white-space: nowrap;
}
a{
    text-decoration: none;
    color:white
}
/*.footer-conteiner-div2{
    display:flex;
    justify-content: space-evenly;
    width:60vw;
    padding:10px;
    white-space: nowrap;
}*/
.pcopy{
    text-align: center;
    background-color: black;
    color: white;
    font-size:15pt;
    display: flex;
    justify-content:space-around;
    padding: 20px;
    white-space: nowrap;
}

@media screen and (max-width:800px){
    .pcopy{
        text-align: center;
        background-color: black;
        color: white;
        font-size:0.7rem;
        display: block;
        padding: 20px;
        height:100%
    }
}